.we-are {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 70vh;
    &__left-side-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top-left-image {
        position: relative;
        top: 12%;
        left: 24%;
        transform: rotate(11deg);
        width: 75%;
        border-radius: 20%;
    }
    &__bottom-left-image {
        position: relative;
        left: 8%;
        width: 60%;
    }
    &__text {
        align-self: center;
        text-align: center;
        width: 90%;
    }
    &__right-side-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top-right-image{
        position: relative;
        top: 8%;
        right: 8%;
        transform: rotate(4deg);
        width: 60%;
        border-radius: 20%;
    }
    &__bottom-right-image{
        position: relative;
        top: 18%;
        right: 38%;
    }
}