@import '@/variables.scss';
.collection__head {
    margin-top: 90px;
    display: flex;
    background: var(--background-detailed);
    padding: 32px;
    border-radius: 36px;
    justify-content: space-between;
}

.currently, .next-info {
    cursor: pointer;
    height: min-content;
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
}

.currently__text, .next-info__text {
    padding: 17px 23px 18px;
    text-transform: uppercase;
    margin: 0;
    border: 1px solid var(--text-primary);
    border-radius: 100px;
    min-width: 160px;
    transition: all 0.15s ease;
    &:hover {
        background-color: var(--text-primary);
        color: var(--background-color);
    }
}

.currently__arrow, .next-info__arrow {
    transition: all 0.15s ease;
    &:hover {
        opacity: 0.85;
    }
}

.collection__headline {
    text-align: center;
}
.collection__name {
    
    color: var(--text-primary);
    font-size: 28px;
    font-weight: 600;
}
.collection__action {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}
.collection__dot {
    width: 12px;
    height: 12px;
    padding: 0;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--text-primary);
        background: transparent;
    &--active {
        width: 12px;
        height: 12px;
        border: none;
        background: var(--text-primary);
    }
}