@import '@/variables-dark.scss';
.aside-settings {
    max-width: 170px;
    float: left;
    margin-right: 20px;
    margin-left: 3.2rem;
    margin-top: 2.5rem;
    padding-right: 25px;
}
.aside-settings__list {
    list-style: none;
    gap: 20px;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 100%;
    }
}

.aside-settings__title {
    font-size: 20px;
    font-weight: 400;
}

.aside-settings__link{
    text-decoration: none;
    color: $white-200;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.15s ease;
    &:hover {
        opacity: 0.85;
    }
}

.aside-settings__icon {
    margin-bottom: 6px;
}