@import '@/variables.scss';

.ad-band {
    background-color: var(--background-detailed);
    display: flex;
    gap: 10px;
    color: var(--text-primary);
    text-decoration: none;
    padding: 10px;
    max-width: 430px;
    width: max-content;
    border-radius: 16px;
    transition: all 1.3s ease;
}

.ad-band__cover {
    height: 94px;
    width: 94px;
    object-fit: cover;
    border-radius: 6px;
}

.ad-band__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ad-band__title {
    text-decoration: none;
    font-size: 22px;
    margin-top: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 22px;
}

.ad-band__desc {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 42px;
    line-height: 18px;
    color: var(--text-detailed);
}

.ad-band__tags {
    display: flex;
    color: var(--accent-color);
    font-size: 12px;
    gap: 10px;
}