@import '@/variables-dark.scss';
.hero__wrapper {
    padding: 60px 50px;
    max-width: 1240px;
    display: flex;
    gap: 60px;
    // margin: 0 auto;
}
.hero__tools {
    min-width: 228px;
}
.navigate {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigate__decoration {
    height: 21px;
    width: 21px;
}

.navigate__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.navigate__link {
    color: $white-200;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    &--active {
        color: $white-100;
    }
    &:hover {
        opacity: 0.85;
    }
}

.last-update {
    display: flex;
    gap: 20px;
    max-height: 110px;
    margin-top: 70px;
}

.last-update__cover {
    width: 84px;
    height: 110px;
    border-radius: 18px;
    object-fit: cover;
}

.last-update__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.last-update__title {
    color: $white-100;
    font-weight: 400;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.last-update__desc {
    color: $white-200;
    font-size: 16px;
    margin: 8px 0 0;
}

.last-update__link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.last-update__open {
    color: $white-100;
    font-size: 20px;
    transition: all 0.15s ease;
    margin: 0;
    padding: 0;
    &:hover {
        opacity: 0.85;
    }
}

.last-update__circle {
    background-color: $primary-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    transition: all 0.15s ease;
    &:hover {
        background-color: $white-100;
        & .last-update__arrow path{
            fill: $primary-color;
        }
    }
}

.hero__info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.hero__title {
    font-size: 92px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: $white-100;
    white-space: nowrap;
    line-height: 1;
    &--highlighted {
        color: $accent-color;
    }
    &:nth-child(2){
        margin-left: 200px;
    }
    &:nth-child(3){
        margin-left: 60px;
    }
}

.hero__details {
    position: absolute;
    display: flex;
    gap: 50px;
    right: -100px;
}

.hero__desc {
    max-width: 385px;
    font-size: 22px;
    line-height: 25px;
    &--highlighted {
        color: $primary-color;
    }
}