@import '@/variables.scss';
.ability {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    min-height: 160px;
    &:hover {
        .ability__info {
            transition: all 0.8s ease;
            padding-left: 80px;
            & .ability__title {
                transition: all 0.8s ease;
                color: var(--text-primary);
            }
        }
        .ability__image {
            z-index: 5;
            transition: all 0.8s ease;
            width: 360px;
            height: 250px;
            transform: rotate(15deg);
            margin: auto;
            left: 20%;
            right: 0;
            &--avatar {
                transform: rotate(-5deg);
                left: 40%;
                width: 250px;
                height: 250px;
            }
            &--all {
                transform: rotate(-5deg);
                left: 30%;
                width: 340px;
                height: 220px;
            }
        }
    }
}

.ability__info {
    display: flex;
    gap: 40px;
    align-items: center;
}

.ability__title {
    font-size: 96px;
    font-weight: 500;
    color: var(--text-detailed);
    margin: 0;
    padding: 0;
}

.ability__number {
    display: flex;
    height: 44px;
    font-size: 24px;
    align-items: center;
    color: var(--text-detailed);
    border-radius: 30px;
    border: 1px solid var(--text-detailed);
    padding: 0 14px;
    margin: 0 0 12px;
    &::before {
        content: '0';
    }
    &::after {
        content: '/';
    }
}

.ability__image {
    position: absolute;
    object-fit: cover;
    width: 0px;
    height: 0px;
    transform: rotate(0deg);
    flex-shrink: 0;
    border-radius: 30px;
    // margin: auto;
    right: 0;
}

.ability__action {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ability__desc {
    color: var(--text-detailed);
    font-size: 24px;
    font-weight: 500;
}

.ability__icon {
    &:hover {
        transition: all 0.15s ease;
        opacity: 0.85;
    }

    &_arrow {
        stroke: var(--text-primary);
    }
}