@import '../../../variables.scss';
.password {
	position: relative;
	margin-bottom: 30px;
}

.password__input {
	height: 60px;
	padding: 0 32px;
	margin: auto;
	font-size: 20px;
	color: var(--text-primary);
	border: none;
	background: none;
	border-radius: 30px;
	background: var(--background-secondary);
	width: 70%;
	transition: all 0.15s ease;
	outline: 1px solid transparent;
	&:focus {
		outline: 1px solid $white-300;
	}
	&::placeholder {
		color: var(--text-secondary);
	}
}

input,
label {
	display: block;
}

.password_label {
	text-align: left;
	margin-left: 13%;
	margin-bottom: 10px;
}
