@import '../../../variables.scss';
.password {
    position: relative;
    margin-bottom: 30px;
}

.password__input {
    height: 60px;
    padding: 0 32px;
    margin: auto;
    font-size: 20px;
    color: $white-100;
    border: none;
    background: none;
    border-radius: 30px;
    background: $gray-100;
    width: 70%;
    transition: all 0.15s ease;
    outline: 1px solid transparent;
    &:focus {
        outline: 1px solid $white-300;
    }
    &::placeholder {
        color: $white-300;
    }
}

input, label {
    display: block;
}

.password_label {
    text-align: left;
    margin-left: 13%;
    margin-bottom: 10px;
}
