@import '@/variables.scss';
.search {
    position: relative;
    margin-left: 2rem;
}

.search__input {
    min-height: 50px;
    padding: 0 23px;
    font-size: 20px;
    color: var(--text-primary);
    line-height: 20.9px;
    border: none;
    background: none;
    border-radius: 25px;
    background: var(--background-secondary);
    min-width: 400px;
    transition: all .5s ease;
    outline: 1px solid transparent;
    &:focus {
        outline: 1px solid var(--text-secondary);
    }
    &::placeholder {
        color: var(--text-secondary);
    }
}

.search__icon {
    position: absolute;
    top: 50%; /* позиция сверху по вертикали на 50% */
    transform: translateY(-50%);
    right: 16px;
    stroke: var(--text-primary);
    transition: all 1.3s;
}