@import '@/variables.scss';
.search {
    position: relative;
    margin-left: 2rem;
}

.search__input {
    min-height: 50px;
    padding: 0 23px;
    font-size: 20px;
    color: $white-100;
    line-height: 20.9px;
    border: none;
    background: none;
    border-radius: 25px;
    background: $gray-100;
    min-width: 400px;
    transition: all 0.15s ease;
    outline: 1px solid transparent;
    &:focus {
        outline: 1px solid $white-300;
    }
    &::placeholder {
        color: $white-300;
    }
}

.search__icon {
    position: absolute;
    top: 50%; /* позиция сверху по вертикали на 50% */
    transform: translateY(-50%);
    right: 16px;
}