@import '@/variables.scss';
.genre {
    margin-top: 145px;
}
.genre__caption {
    display: flex;
    flex-direction: column;
}

.genre__up-caption {
    display: flex;
    gap: 25px;
}

.genre__down-caption {
    display: flex;
    align-self:flex-start;
    gap: 25px;
    margin-left: 72px;
}

.genre__title {
    
    white-space: nowrap;
    font-size: 68px;
    font-weight: 500;
}

.genre__number {
    font-size: 26px;
    font-weight: 400;
    padding-top: 26px;
}

.genre__body {
    display: flex;
    @media (min-width: 1440px) {
        justify-content: space-between;
        gap: 10vw;
    }
    @media (max-width: 1439px) {
        flex-direction: column;
        gap: 5vh;
    }
    margin-top: 40px;
}