@import '@/variables-dark.scss';
.functions {
    margin-top: 120px;
}

.functions__title {
    text-align: center;
    font-size: 150px;
    font-style: normal;
    font-weight: 500;
    background: linear-gradient(45deg, #AD7EFF, #C29FFF, #FF5731, #FF9AF1, #AD7EFF);
    animation: gradient 15s ease infinite; 
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
@-webkit-keyframes gradient{
 0% {
   background-position: 0 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
    background-position: 0% 50%;
 }
}
@keyframes gradient{
 0% {
   background-position: 0 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
    background-position: 0% 50%;
 }
}
}

.functions__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.functions__item {
    border-bottom: 1px solid $white-300;
}