footer {
	font-size: 20px;
	// background-color: #0b0b0b;
	max-width: 1440px;
	margin: 0 auto;
	width: 1440px;
	padding: 24px 50px;
}

.footer__details {
	display: flex;
	align-items: center;
	gap: 30px;
	list-style: none;
	padding: 0;
	justify-content: space-between;
}

.footer__social {
	display: flex;
	align-items: center;
	gap: 30px;
	list-style: none;
	padding: 0;
	justify-content: space-between;
}