@import '@/variables-dark.scss';
.collection__body {
    margin-top: 6px;
    background: $gray-200;
    padding: 40px;
    border-radius: 36px;
}
.collection__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.collection__caption {
    display: flex;
    flex-direction: column;
}

.collection__up-caption {
    display: flex;
    align-self: center;
    gap: 25px;
}

.collection__down-caption {
    display: flex;
    align-self:flex-start;
    gap: 25px;
    margin-left: 72px;
}

.collection__title {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 68px;
    font-weight: 500;
}

.collection__number {
    font-size: 26px;
    font-weight: 400;
}

.collection__desc {
    font-size: 22px;
    font-weight: 500;
    max-width: 416px;
    margin: 0;
    padding-bottom: 20px;
    &--highlight {
        color: $primary-color;
    }
}

.collection__cards {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
    gap: 20px; 
}

.collection__card {
    display: flex;
    flex-direction: column;
    gap: 16px
}