@import '@/variables.scss';
.preview {
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    padding: 8vh 5vw;
    border-radius: 40px;
    background: var(--background-secondary);
}

.preview__left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.preview__logo{
    width: 20vw;
}

.preview__text {
    width: 26vw;
    font-size: 38px;
}