@import '@/variables-dark.scss';

.card__content {
    display: inline-grid;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    border-radius: 15px;
    background-color: $gray-200;
}

.card__cover {
    width: 9.45rem;
    box-shadow: $shadow-x1;
    border-radius: 6px;
    // justify-self: center;
    object-fit: cover;
}

.card__text {
    margin-top: .5rem;
}

.card__title {
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card__desc {
    color: $white-300;
    margin-top: .4rem;
    font-size: .84rem;
    width: 9rem;
    line-height: 18px;
}