@import '@/variables.scss';

.ads-slider {
    display: grid !important;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.ads-slider__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
}