@import '@/variables-dark.scss';

.ads-slider {
    display: flex !important;
    gap: 24px;
}

.ads-slider__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .ads-slider {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .ads-slider__list {
        gap: 30px;
    }
}

