$primary-color: #FF5731;
$background-color: #0B0B0B;
$background-secondary: #2F2F2F; // gray-100
$background-detailed: #151515; // gray-200
$background-extra: #191A1B; // gray-300
$text-primary: #F9F9F9; // white-100
$text-secondary: #FFFFFF66; // white-300
$text-detailed: #ADADAC; // white-200
$accent-color: #9960FF;
// $gray-100: #2F2F2F;
// $gray-200: #151515;
// $gray-300: #191A1B;
// $white-100: #F9F9F9;
// $white-200: #ADADAC;
// $white-300: #FFFFFF66;
$shadow-x1: drop-shadow(0px 5.222256660461426px 7.692448616027832px rgba(255, 87, 49, 0.03)) drop-shadow(0px 18.45005989074707px 23.422977447509766px rgba(255, 87, 49, 0.05)) drop-shadow(0px 94px 105px rgba(255, 87, 49, 0.08));
$gradient-l1: linear-gradient(90deg, #AD7EFF 0%, #C29FFF 25.72%, #FF9AF1 47.25%, #E58EA7 74.18%, #FF5731 100.8%);

[data-theme='light'] {
	$background-color: #F7F7F5;
	$background-secondary: #2F2F2F; // gray-100
	$background-detailed: #151515; // gray-200
	$background-extra: #191A1B; // gray-300
	$text-primary: #0B0B0B;
	$text-secondary: #FFFFFF66; // white-300
	$text-detailed: #ADADAC; // white-200
	$primary-color: #FF5731;
	$accent-color: #9960FF;
}

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}