@import '@/variables-dark.scss';
.header {
    display: flex;
    padding: 24px 50px;
    font-size: 0;
}
.header__wrapper {
    max-width: 1240px;
    // margin: 0 auto;
}

.header__details {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}