@import '@/variables-dark.scss';
.switcher-genres {
    cursor: pointer;
    border-radius: 33px;
    gap: 8px;
    border: 1px solid $gray-100;
    background: transparent;
    padding: 0 0 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 356px;
    &--active {
        border: 1px solid transparent;
        background: $gray-100;
    }
    &:hover {
        transition: all 0.2s ease;
        border: 1px solid $white-300;
    }
}

.switcher-genres__text {
    font-size: 26px;
    line-height: 1;
    font-weight: 500;
    color: $white-100;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    &:hover {
        transition: all 0.2s ease;
        opacity: 0.85;
    }
}

.switcher-genres__arrow {
    margin: 8px;
    min-width: 50px;
    min-height: 50px;
    &:hover {
        & path {
            transition: all 0.2s ease;
            fill: $primary-color;
        }
        & circle {
            transition: all 0.2s ease;
            fill: $white-100;
        }
    }
}