@import '@/variables-dark.scss';
.menu-button {
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.15s ease;
    
    width: 50px;
    &:hover {
        opacity: 0.85;
    }
}