@import '@/variables-dark.scss';

.catalog {
    display: flex;
    justify-content: space-between;
}
.catalog__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 50px;
    margin-left: 0;
}

@media screen and (max-width: 576px) {
    .catalog {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}