.for-developers {
    width: 62vw;
    margin: 10vh 15vw;
    &__title {
        text-align: center;
        font-size: 100px;
        font-style: normal;
        font-weight: 500;
        background: linear-gradient(45deg, #AD7EFF, #C29FFF, #FF5731, #FF9AF1, #AD7EFF);
        animation: gradient 15s ease infinite; 
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__text {
        font-size: 38px;
    }
}